# See https://atom.io/docs/latest/creating-a-package#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Lint'
      'submenu': [
        { 'label': 'Toggle', 'command': 'lint:toggle' },
      ]
    ]
  }
]
