'source.ruby': 'rubocop'
'source.ruby.rails': 'rubocop'
'source.ruby.rspec': 'rubocop'
'source.python': 'flake8'
'source.js': 'jshint'
'source.haskell': 'hlint'
'text.tex.latex.haskell': 'hlint'
'source.coffee': 'coffeelint'
'source.go': 'gc'
'source.css': 'csslint'
'source.css.scss': 'scss-lint'
'source.puppet': 'puppet-lint'
'source.shell': 'shellcheck'
'source.c': 'clang'
'source.c++': 'clang'
'source.objc': 'clang'
'source.objc++': 'clang'
'source.rust': 'rustc'
'source.erlang': 'erlc'
