'source.ruby': 'rubocop'
'source.ruby.rails': 'rubocop'
'source.python': 'flake8'
'source.js': 'jshint'
'source.haskell': 'hlint'
'text.tex.latex.haskell': 'hlint'
'source.coffee': 'coffeelint'
'source.go': 'gc'
'source.css': 'csslint'
'source.css.scss': 'scss-lint'
'source.puppet': 'puppet-lint'
